<h1>@ forgot password section </h1>
<form action="/user/forget_passwordEmailSec" method="POST"> 
    <input type="email" name="email" placeholder="please confirm yout email" required>
      <input type="Submit" value="submit">
</form>
