<div>
    <p>Hi man please check this link to reset your password</p>
    <br>
    <br>
   <p> http://localhost:8000/user/reset_password/?access_token=<%= resetpassobj.accessToken %> </p>
    <br>
    <br>
</div>